/* _variables.scss */
$header-background: #a5c4de;
$chest-rotation-background: #c9d8ea;
$title-background: #445b87;
$item-playground: #1a1a1a;
$footer-background: #f8c2a0;
$header-navigation-background: #a5c4de;
$questify-btn-background: #13294b;
$nav-btn-background: rgba(255, 255, 255, 0.25);
$lang-btn-background: #13294b;
$header-stats-background: #C0C6D6;
$Item-card-backgroudn: #c9d8ea 
