@use '../base/mixins' as *;
@use '../base/variables' as *;


.header-stats {
  background-color: #C0C6D6;
  padding: 12px 24px;
  @include flex-center(row);
  justify-content: space-between;
  height: 60%;
}

.stats-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start; 
  width: 100%;
}


.castle-img {
  width: 200px;
  height: 150px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 16px;
}

.stats-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: $font-size-26 !important;
  height: 100%;
}

.player-label {
  font-weight: 400;
  font-size: $font-size-medium;
  margin-bottom: 4px;
  color: $text-color;
}

.progress-row {
  @include flex-center(row, 6px);
  font-size: $font-size-12;
}

.icon {
  color: $text-color;
}

.xp-label {
  font-size: $font-size-12;
  margin-right: 2px;
}

.bar-container {
  width: 140px;
  height: 8px;
  flex-shrink: 0;
}

.bar-label {
  min-width: 40px;
  font-size: $font-size-15;
  text-align: left;
  color: $text-color;
}

.quote {
  font-size: $font-size-26;
  font-weight: 500;
  color: $text-color;
  line-height: 1.3;
  text-align: right;
  white-space: nowrap;
}


.nav-bar {
  height: 100px;
  background-color: lighten($secondary-color, 10%); // #a5c4de
  border-bottom: 1px solid rgba($black, 0.2);
  @include flex-center(row);
  justify-content: space-between;
  width: 100%;
}

.test {
  width: 100%;
  height: 100%;
  padding: 20px;
  @include flex-center(row);
  justify-content: flex-start;
}

.questify-btn {
  height: 100%;
  @include flex-center;
  border: 2px solid #13294b !important;
  color: #13294b;
  background-color: transparent;
  text-transform: none;
  font-weight: bold;
  font-size: $font-size-small;
  padding: 0 12px;
  margin-right: 12px;
  min-width: 90px;
  font-family: $font-family;
  box-shadow: none;
}

.nav-btn {
  height: 100%;
  width: 100px;
  @include flex-center;
  justify-content: center;
  background-color: rgba($white, 0.25);
  padding: 0 14px;
  margin-right: 8px;
  font-weight: 600;
  text-decoration: none;
  color: $black;
  border: 1px solid rgba($black, 0.2);
  font-size: $font-size-14;
  border-radius: 2px;

  &:hover {
    background-color: rgba($white, 0.35);
  }

  &.router-link-exact-active {
    border: 2px solid $text-color;
  }
}

.right-section {
  @include flex-center;
  justify-content: space-between;
  gap: 16px;
  width: 25%;
  height: 100%;
}

.coin-display {
  @include flex-center;
  gap: 4px;
}

.coin-count {
  font-size: $font-size-16;
  font-weight: 500;
  margin: 0;
}

.lang-btn {
  min-width: 36px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-size-14;
  color: #13294b;
}
