.body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f0f0;

  &__categories, &__tasks {
    width: 45%;
    background-color: #d6d6d6;
    padding: 15px;
    
    .categories__title, .tasks__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      
      i {
        cursor: pointer;
      }
    }

    .categories__container, .tasks__container {
      margin-top: 15px;
      background-color: #c2c2c2;
      height: 200px;
    }
  }
}
