
.body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f0f0;
  height: 60vh;
  width: 100%;


  &__categories, &__tasks {
    width: 45%;
    height: auto;
    padding: 15px;
    color: black;
    
    .categories__title, .tasks__title {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      height: 20%;
      
      i {
        cursor: pointer; 
      }
    }

    .categories__container, .tasks__container {
      margin-top: 15px;
      background-color: #212873;
      height: 75%;
    }
  }
}
.contenidoCategoria {
  background-color: #1E3269; 
  border-radius: 8px; 
  padding: 20px; 
  width: 100%;
  margin: 20px auto; 
}

.categoriasTextos {
  background-color: white;
  padding: 12px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  border-radius: 4px; 
  width: 100%;
  margin: 12px auto; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
}

.categoriasTextos:last-child {
  margin-bottom: 0; 
}

.categoriasTextos span {
  font-size: 14px;
  color: #333; 
}

.tamañoFlecha {
  width: 24px; 
  height: 24px; 
  object-fit: contain; 
}

.tasks__container {
  background-color: #1E3269; 
  border-radius: 8px;
  padding: 20px; 
  max-width: 400px;
  margin: 20px auto; 
}

.task__item {
  background-color: white;
  padding: 12px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  width: 95%;
  margin: 12px auto; 
  cursor: pointer;
}

.task__item:last-child {
  margin-bottom: 0; 
}

.task__item span {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.task__item .icon {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}


.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Asegura que esté por encima de todo
}

.popup {
  background: rgba(224, 224, 224, 0.404);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;

  h2 {
      margin: 0 0 15px;
  }

  label {
      display: block;
      font-weight: bold;
      margin-top: 10px;
  }

  input, textarea, select {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  button {
      width: 100%;
      padding: 10px;
      background: grey;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 15px;

      &:hover {
          background: darken(grey, 10%);
      }
  }

  .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
  }
}

// Mostrar el popup cuando tiene la clase "active"
.popup-container.active {
  display: flex;
}