@use '../base/variables' as *;
@use '../base/mixins' as *;

.main-layout {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  height: 80%;
  width: 100%;
  gap: 32px;
}


.panel {
  flex: 1;
  min-width: 0;
  height: 100%;
  background-color: $dark-border-color;
  padding: 16px;
  border-radius: 4px;
}


.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  margin-bottom: 8px;
}

.panel-title {
  font-size: 24px;
  font-weight: bold;
}

.actions v-icon {
  margin-left: 8px;
  cursor: pointer;
}

.custom-list {
  padding: 0;
  width: 100%;
  scrollbar-width: none;
}

.title-text {
  width: 50%;
}

.list-item {
  padding: $padding-sm;
  min-height: 24px;
  font-size: $font-size-small;
  color: $black;
  width: 98%;
  display: flex;
  align-items: center;
  background-color: $white;
}