@use '../base/variables' as *;
@use '../base/mixins' as *;

.layout {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.full-width {
  width: 100%;
  height: 100%;
}

.left-panel {
  @include flex-center(column);
  align-items: flex-start;
  width: 100%;
  margin-left: 50px;
}

.right-panel {
  @include flex-center;
  justify-content: center;
  width: 40%;
}

.store-image {
  width: 60%;
  height: 80%;
}

.rotation-wrapper {
  background-color: $secondary-color;
  padding: $padding-lg;
  text-align: center;
  width: 100%;
}

.title {
  @include section-title;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: $gap-large;
  flex-wrap: wrap;
}

.item-card {
  @include flex-center(column);
}

.item-name,
.item-price {
  font-size: $font-size-14;
  color: $text-color;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
