@charset "UTF-8";
/* _variables.scss */
/* _mixins.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}

/* _header.scss */
.header {
  background-color: #a32b2b;
  height: 20vh;
  width: 100%;
}
.header__uppersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9BB8D8;
  height: 40%;
}
.header__uppersection .nav {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__uppersection .nav img {
  width: 100px;
  height: 100%;
}
.header__uppersection .nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  background-color: #9BB8D8;
  cursor: pointer;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.header__uppersection .nav__button p {
  font-size: 26px;
}
.header__uppersection .nav__button:hover {
  opacity: 0.9;
  border: 2px solid black;
}
.header__uppersection .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50%;
  width: 30%;
}
.header__uppersection .info__coins {
  display: flex;
  align-items: center;
}
.header__uppersection .info__coins i {
  font-size: 20px;
}
.header__uppersection .info__coins p {
  margin-left: 5px;
}
.header__uppersection .info__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
}
.header__uppersection .info__profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header__lowersection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0%;
  background-color: #bdbdbd;
  height: 60%;
}
.header__lowersection--left {
  display: flex;
  align-items: center;
  gap: 10%;
  background-color: #C0C6D6;
  width: 40%;
  height: 100%;
}
.header__lowersection--left img {
  width: 130px;
  height: 90%;
}
.header__lowersection--left .lowersection__stats {
  margin-left: 15px;
}
.header__lowersection--left .lowersection__stats #level {
  font-weight: bold;
}
.header__lowersection--left .lowersection__stats .stats__life, .header__lowersection--left .lowersection__stats .stats__xp {
  display: flex;
  align-items: center;
}
.header__lowersection--left .lowersection__stats .stats__life i, .header__lowersection--left .lowersection__stats .stats__xp i {
  margin-right: 5px;
}
.header__lowersection--left .lowersection__stats .stats__life #progressbar, .header__lowersection--left .lowersection__stats .stats__xp #progressbar {
  width: 100px;
  height: 10px;
  background-color: #888;
  margin: 0 5px;
}
.header__lowersection--right {
  background-color: #C0C6D6;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__lowersection--right p {
  font-size: 18px;
  font-weight: bold;
}

/* _footer.scss */
.footer {
  background-color: #F7BFA3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  gap: 25%;
  bottom: 0;
  position: fixed;
}
.footer__img--right, .footer__img--left {
  width: 180px;
  height: 180px;
}
.footer__container {
  text-align: center;
}
.footer__container .container__top {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer__container .container__top i {
  width: 40px;
  height: 40px;
  scale: 1.5;
}
.footer__container .container__bottom {
  margin-top: 10px;
  font-size: 14px;
}

.body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f0f0;
  height: 60vh;
  width: 100%;
}
.body__categories, .body__tasks {
  width: 45%;
  height: auto;
  padding: 15px;
  color: black;
}
.body__categories .categories__title, .body__categories .tasks__title, .body__tasks .categories__title, .body__tasks .tasks__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: 20%;
}
.body__categories .categories__title i, .body__categories .tasks__title i, .body__tasks .categories__title i, .body__tasks .tasks__title i {
  cursor: pointer;
}
.body__categories .categories__container, .body__categories .tasks__container, .body__tasks .categories__container, .body__tasks .tasks__container {
  margin-top: 15px;
  background-color: #212873;
  height: 75%;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: rgba(224, 224, 224, 0.404);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
}
.popup h2 {
  margin: 0 0 15px;
}
.popup label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
.popup input, .popup textarea, .popup select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.popup button {
  width: 100%;
  padding: 10px;
  background: grey;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}
.popup button:hover {
  background: rgb(102.5, 102.5, 102.5);
}
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup-container.active {
  display: flex;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor__tienda {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 5%;
}
.contenedor__tienda__contenedores {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.contenedor__tienda__tienda {
  width: 65%;
  height: 80%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
  border: 2px solid black;
  background-color: #D9E4F1;
}
.contenedor__tienda__rotacion-diaria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.contenedor__tienda__rotacion-diaria__contenedor-objetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.contenedor__tienda__rotacion-diaria__objetos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 15%;
  min-width: 150px;
  padding: 10px;
  border-radius: 5px;
}
.contenedor__tienda__rotacion-diaria__objetos__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor__tienda__rotacion-diaria__objetos__img__imagen {
  width: 50px;
  height: 50px;
}
.contenedor__tienda__rotacion-diaria__objetos__txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contenedor__tienda__rotacion-diaria__objetos__txt--left {
  font-size: 1rem;
  font-weight: bold;
}
.contenedor__tienda__rotacion-diaria__objetos__txt--right {
  font-size: 1rem;
  color: gold;
}
.contenedor__tienda__cofres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contenedor__tienda__cofres--cofres {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.contenedor__tienda__cofres--cofres__texto {
  color: black;
}
.contenedor__tienda__cofres__comprar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.contenedor__tienda__cofres__comprar__cofre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.contenedor__tienda__cofres__comprar__cofre__imagen {
  width: 100px;
  height: 100px;
}
.contenedor__tienda__cofres__comprar__cofre__img {
  scale: 21;
}
.contenedor__tienda__cofres__comprar__cofre__txt {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.contenedor__tienda__cofres__comprar__cofre__texto {
  color: cadetblue;
}
.contenedor__tienda__ambulante {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  width: 35%;
  height: 100%;
}
.contenedor__tienda__ambulante__img {
  width: 400px;
  height: auto;
}

.contenedor__tienda__cofres__comprar__cofre__imagen__img {
  width: 100px;
  height: 100px;
}

.contenedor__tienda__cofres__comprar__cofre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor__tienda__cofres {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contenedor__tienda__cofres__comprar {
  gap: 15px;
  width: 100%;
}

h1 {
  font-size: 18px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor__inventario {
  background-color: #4E648E;
  width: 60%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  padding: 5px;
  margin-top: 50px;
}
.contenedor__inventario__recuadro {
  width: auto;
  height: 10vh;
  background-color: white;
  border: 2px solid black;
  min-height: 30%;
}

.recuadro__inv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.recuadro__inv__imagen {
  width: 5vh;
  height: 5vh;
  margin-top: 5vh;
}

.imagen__textos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin-bottom: 3vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
  text-align: left;
  position: relative;
}

.modal-content .fa-edit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #007bff;
  font-size: 25px;
}

.modal-content .fa-edit:hover {
  background-color: #f0f0f0;
}

.modal-content label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}

.modal-content input,
.modal-content textarea {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.modal-content textarea {
  resize: none;
  height: 80px;
}

.modal_buttons {
  text-align: center;
}

.modal_buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.modal_buttons [type=button] {
  background-color: #f44336;
  color: white;
}

.modal_buttons [type=button]:hover {
  background-color: #d32f2f;
}

.modal_buttons [type=submit] {
  background-color: #4CAF50;
  color: white;
}

.modal_buttons [type=submit]:hover {
  background-color: #388E3C;
}