/* _variables.scss */
/* _mixins.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}

/* _header.scss */
.header {
  background-color: #1c4f5f;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 20vh;
}
.header__uppersection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(102, 255, 0);
}
.header__uppersection .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  background-color: #1c4f5f;
  color: #fff;
}
.header__uppersection .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  background-color: #2b383b;
  color: #fff;
}
.header__lowersection {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  padding-top: 10px;
  height: 50%;
  background-color: red;
}

/* _footer.scss */
.footer {
  background-color: #1c4f5f;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 20vh;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__top .newsletter__text h3 {
  font-size: 24px;
}
.footer__top .newsletter__text p {
  font-size: 16px;
}
.footer__top .newsletter__form {
  margin-right: 250px;
}
.footer__top .newsletter__form .newsletter__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 450px;
}
.footer__top .newsletter__form .newsletter__button {
  background-color: #fff;
  color: #1c4f5f;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer__top .newsletter__form .newsletter__button:hover {
  background-color: white;
  color: #fff;
}
.footer__top .newsletter__form .newsletter__button:hover {
  color: #1c4f5f;
}
.footer__top .social {
  display: flex;
  margin-right: 10px;
  color: #fff;
  gap: 15px;
  scale: 1.3;
}
.footer__top .social i {
  color: #fff;
}
.footer__divider {
  border: 0;
  height: 1px;
  background: #fff;
  margin: 20px 0;
}
.footer__bottom {
  text-align: center;
  font-size: 14px;
}

/* home.scss */
.body {
  padding: 20px;
  text-align: center;
  height: 60vh;
}
.body .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}
.body .carousel__arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 100px;
}
.body .carousel__images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.body .carousel__images .carousel__image {
  width: 350px;
  height: 200px;
  object-fit: cover;
  opacity: 0.5;
}
.body .carousel__images .carousel__image--center {
  width: 450px;
  height: 350px;
  opacity: 1;
}